body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(11, 14, 20);
  color: white;
}

:root{
  --warning-red: rgb(172, 98, 98);
  --approved-green: #88c999;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.favicon{
  filter: invert();
}

.form{
  display: flex;
  flex-direction: column;
  max-width: 500px;
  margin: 0 auto;
  gap: 1em;
  transform: translateY(50%);
}

.submit-button{
  max-width: min-content;
  margin-left: auto;
  background-color: teal;
  color: white;
}

.submit-button:disabled{
  background-color: grey;
  border-style: none;
}

label{
  display: flex;
  flex-direction: column;
  gap: 4px;
  color: grey;
}

input{
  border-radius: 4px;
  border-color: teal;
  background-color: #0B0E14;
  border-style: solid;
  color: white;
  padding: 10px;
  font-size: 1em;
  transition: all 0.5s;
}

input:active{
  border-style: none;
}

input:focus-visible {
  border-style: none;
}

input:focus{
  outline: none !important;
  border-color: lightgreen;
  border-style: solid;
}


.body{
  background-color: #0B0E14;
}

.input-error{
  color: rgb(172, 98, 98);
  margin-block-start: 0;
}